<div class="example-1 card">
    <div class="wrapper" style="background-image: url('/img/home.jpg');">
      <div class="data">
        <div class="content">
          <span class="author">SEATTLE</span>
          <h1 class="title">The Seattle {{club}}</h1>
          <p class="text">Sport: {{sport}} <br/> Founded: {{founded}}</p>
          <a href="/delete?title={{club}}">Remove Team</a>

          <span class="author">PROFESSIONAL SPORTS TEAMS OF THE EMERALD CITY</span>
          <h1 class="title">SEATTLE</h1>
          <h3 class="title">Search by Team name:</h3>
                <form action="/add" method="post">
                        <input type="text" name="club" placeholder="Team">
                        <br/>
                        <br/>
                        <input type="submit" value="Search" id="btn">
                        <br/>
                </form>
                <br/>
                <br/>
                <form action="/api/teams" method="post">
                    <label>Add a Team:
                        <input type="text" name="club" id="club" placeholder="Team Name">
                        <input type="text" name="sport" id="sport" placeholder="Sport">
                        <input type="number" name="founded" id="founded" placeholder="Year Founded">
                        <br/>
                        <br/>
                        <input type="submit" value="Add Team" id="btn">
                        <br/>
                    </label>
                </form>
        </div>
      </div>
    </div>
</div>