<!DOCTYPE html>
<html>

<head>
    <title>HOME</title>
    <style>
        body {
            background: #070331;
            margin: 150px 0;
            text-align: center;
            color: #fff;
            font-family: 'Oswald', sans-serif;
        }
        
        .content {
            letter-spacing: .2em;
        }
    </style>
</head>

<body>
    <h1 class="content">Seattle Sports</h1>

    <form>
        <input type="text" placeholder="Search Club..">
        <button onclick="get.club()">Search</button>
    </form>

</body>

</html>